<head>
  <title>Dite Food</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<!DOCTYPE html>
<html>
    <head>
    <title>Food_Diet</title>
    <link rel="stylesheet" href="static\nutrition_head.css">
</head>
   <body>
    <nav>
        <ul>
            <li><a href="/nutrition_home">Nutrition</a></li>
            <li><a href="/add_diet">ADD DIET</a></li>
            <li><a href="/view_diet">VIEW DIET</a></li>
            <li><a href="/logout">LOGOUT</a></li>
        </ul>
    </nav>


   </body>
</html>